BASIC_AUTH_USER=${{ secret(8, "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ") }}
BASIC_AUTH_PASSWORD=${{ secret(8, "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ") }}
PMA_UPSTREAM=${{phpMyAdmin.RAILWAY_PRIVATE_DOMAIN}}
